
/*********************************************************/
/*SelectDog.js Component*/
.breedNameTitle{
  color: purple;/*#f4dd7b;*/
  font-family: 'Rowdies', cursive;
  font-size:xx-large;
}
.editButtonDiv{position:absolute; right:50px; bottom:10px}
.editButton{padding:4px 6px}
.doggyPicture{width: 256px !important; height: 256px !important;}
/**********************************************************/